h3 {
    color: blueviolet;
}

.container {
    color: brown;
    border-style: dashed;
    border-color: rgb(48, 147, 46);
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

}

.container-bg {
    background-color: aquamarine;
}

.my-font {
    font-family: "Kanit", sans-serif;
}

#container-id {
    color: coral;
    margin-top: 50px;
}